@font-face {
  font-family: "ABCMonumentGrotesk-Medium";
  src: url(./fonts/ABCMonumentGrotesk-Medium.woff2),url(./fonts/ABCMonumentGrotesk-Medium.woff);
}


html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}


body{
  font-family: "ABCMonumentGrotesk-Medium";
  background-color: #C3BBAF;
}

p:not(:last-child) {
  margin-bottom: 2.2rem;
}

.listText p:not(:last-child) {
  margin-bottom: 0rem;
}


ol {
  list-style-type: disc;
}

.gap-x-8 {
  column-gap: 20px;
}




.react-calendar button {
  width: 50px;
  height: 50px !important;
  position: relative;
}
.react-calendar button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.react-calendar__tile--now{
  background-color: transparent !important;
 
}

.react-calendar__tile:hover{
  background-color: black!important;
  color:white!important;
  border-radius: 100%;
  transition: background-color 0.2s ease, color  0.2s ease; 
}

.react-calendar button:disabled:hover {
  color: rgba(0, 0, 0, 0.34) !important;
  opacity: 0.5;
  cursor: not-allowed;
}



.booked {
  position: relative;
  color: #aaa !important;
}
.dot {
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  width: 6px;
  height: 6px;
  background: rgba(255, 0, 0, 0.458);
  border-radius: 50%;
}
.react-calendar {
  background: transparent !important;
  border: none !important;
}
.react-calendar button {
  width: 50px;
  height: 50px !important;
  position: relative;
}


.selected {
  background: #d9d9d9 !important;
  color: rgba(0, 0, 0, 0.354) !important;
  /* transition: background-color 0.6s ease!important;
  transition-delay: 200ms!important; */
}

.selected:hover {
  background-color: #d9d9d9!important;
  border-top-left-radius: 0% !important;
  border-bottom-left-radius: 0% !important;
  border-top-right-radius: 0% !important;
  border-bottom-right-radius: 0% !important;
}

.selected.last:hover {
  background-color: #d9d9d9!important;
  border-top-left-radius: 0% !important;
  border-bottom-left-radius: 0% !important;
  border-top-right-radius: 50% !important;
  border-bottom-right-radius: 50% !important;
}

.selected.first:hover {
  background-color: #d9d9d9!important;
  border-top-right-radius: 0% !important;
  border-bottom-right-radius: 0% !important;
  border-top-left-radius: 50% !important;
  border-bottom-left-radius: 50% !important;
}

.first {
  border-top-left-radius: 50% !important;
  border-bottom-left-radius: 50% !important;
}
.last {
  border-top-right-radius: 50% !important;
  border-bottom-right-radius: 50% !important;
}



.react-calendar {
  background: transparent !important;
  border: none !important;
  /* color: rgba(0, 0, 0, 0.354) !important; */
  color: black;;
}

.react-calendar .react-calendar__month-view__days__day--weekend {
  color:black;
}


.react-calendar__tile:disabled{
  background: none!important;
}



input:focus, textarea:focus{
  outline: none;
  box-shadow: none;
  border: none;
  appearance: none;
  -webkit-appearance: none;
}


video::-webkit-media-controls {
  display: none !important;
  -webkit-appearance: none;
}



video::-webkit-media-controls-enclosure {
  display: none !important;
  -webkit-appearance: none;
}
video::-webkit-media-controls-play-button {
  display: none !important;
  -webkit-appearance: none;
}

.page-imprint, .page-privacy-policy, .page-house{
  background-color: #fff;
  padding-top: 100px;
}

.page-house{
  padding-top: 100px;
}

.page-contact{
  padding-top: 100px;
  background-color: white;
}

body > div > div:nth-child(2) > div > div.homePage > div:nth-child(1) > div > div{
  height: 100vh!important;
  padding-bottom: 50px;
}  



.bannerSection a {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.bannerSection a:hover {
  text-decoration: none;
}